---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <main
    class="bg-lightGrey min-h-screen w-screen flex justify-center items-center"
  >
    <Card />
  </main>
</Layout>
