<article class="h-[497px] w-[320px] bg-white rounded-[20px]">
  <div class="relative flex justify-center items-center">
    <img src="/qr-code.svg" alt="qr code" class="absolute" />
    <img
      src="/Oval.svg"
      alt="Oval"
      class="w-[288px] h-[288px] rounded-[10px] mx-auto mt-[16px]"
    />
  </div>

  <h2
    class="text-center text-darkNavy mb-[16px] text-heading mx-auto w-[288px] mt-[24px]"
  >
    Improve your front-end skills by building projects
  </h2>
  <p class="text-center text-grey text-body mx-auto w-[256px]">
    Scan the QR code to visit Frontend Mentor and take your coding skills to the
    next level
  </p>
</article>
